body {
    font-family: sans-serif;
    background-color: pink;
    margin-top: 74px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-large {
    height: 200px;
}

